.atwho-view {
	Z-INDEX: 11110 !important; BORDER-BOTTOM: #ddd 1px solid; POSITION: absolute; MIN-WIDTH: 120px; BORDER-LEFT: #ddd 1px solid; MARGIN-TOP: 18px; DISPLAY: none; BACKGROUND: white; BORDER-TOP: #ddd 1px solid; TOP: 0px; BORDER-RIGHT: #ddd 1px solid; LEFT: 0px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); border-radius: 3px
}
.atwho-view .atwho-header:hover {
	CURSOR: default
}
.atwho-view STRONG {
	FONT-WEIGHT: 700
}
at-who-image {
	FONT-WEIGHT: 400 !important
}
.atwho-view UL {
	PADDING-BOTTOM: 0px; OVERFLOW-Y: auto; LIST-STYLE-TYPE: none; MARGIN: auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MAX-HEIGHT: 220px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.atwho-view UL LI {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; CURSOR: pointer; PADDING-TOP: 5px
}
