TABLE.CalendarNavigator > TBODY > TR > TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 2px
}
TABLE.CalendarNavigator TR TD.Display {
	
}
TABLE.CalendarHeaderContainer {
	BORDER-BOTTOM: #efefef 1px solid; BORDER-LEFT: #efefef 1px solid; BACKGROUND-COLOR: #efefef; BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid
}
TABLE.CalendarHeaderContainer > TBODY > TR > TH {
	TEXT-ALIGN: center
}
TABLE.CalendarNavigatorContainer {
	BORDER-BOTTOM: #efefef 1px solid; BORDER-LEFT: #efefef 1px solid; BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid
}
TD.calendarNavigatorCell {
	BORDER-BOTTOM: #efefef 1px solid; BORDER-LEFT: #efefef 1px solid; BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid
}
TABLE.Day {
	BORDER-BOTTOM: #efefef 1px solid; BORDER-LEFT: #efefef 1px solid; BORDER-SPACING: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid
}
TABLE.Day TR TD.AllDay {
	BORDER-BOTTOM: #efefef 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; WIDTH: 65px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; BORDER-RIGHT: #efefef 1px solid; PADDING-TOP: 3px
}
TABLE.Day TR TD.Hour {
	BORDER-BOTTOM: #efefef 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; WIDTH: 65px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: top; BORDER-RIGHT: #efefef 1px solid; PADDING-TOP: 3px
}
TABLE.Day TR TD.HourCurrent {
	BORDER-BOTTOM: #efefef 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #ffffe8; PADDING-LEFT: 10px; WIDTH: 65px; PADDING-RIGHT: 0px; BORDER-RIGHT: #efefef 1px solid; PADDING-TOP: 3px
}
TABLE.Day TR.AllDayCurrent {
	BACKGROUND-COLOR: #ffffe8
}
TABLE.Day TR TD.FifteenMinuteBlank {
	BORDER-BOTTOM: #efefef 1px solid
}
TABLE.Day TR TD.FifteenMinuteBlankWithRightBorder {
	BORDER-BOTTOM: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid
}
TABLE.Day TR TD.FifteenMinuteBlankCurrent {
	BORDER-BOTTOM: #efefef 1px solid; BACKGROUND-COLOR: #ffffe8
}
TABLE.Day TR TD.FifteenMinuteBlankCurrentWithRightBorder {
	BORDER-BOTTOM: #efefef 1px solid; BACKGROUND-COLOR: #ffffe8; BORDER-RIGHT: #efefef 1px solid
}
TD.AllDayEvent {
	BORDER-BOTTOM: #efefef 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-RIGHT: #efefef 1px solid; PADDING-TOP: 5px
}
TD.AllDayEvent > TABLE {
	WIDTH: 100%
}
TD.AllDayEvent > TABLE > TBODY > TR > TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
TD.DayEventContainer {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 100%; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
TABLE.DayEvent {
	WIDTH: 100%; BORDER-COLLAPSE: separate !important; HEIGHT: 100%; border-radius: 5px
}
TABLE.DayEventAllDay {
	WIDTH: 100%
}
TABLE.DayEventAllDay > TBODY > TR > TD {
	BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: #cecece 1px solid; PADDING-TOP: 5px; border-radius: 5px
}
TABLE.DayEvent > TBODY > TR > TD {
	BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: #cecece 1px solid; PADDING-TOP: 5px; border-radius: 5px
}
TABLE.DayEventAllDayStart {
	WIDTH: 100%; BORDER-COLLAPSE: separate !important; border-bottom-left-radius: 5px; border-top-left-radius: 5px
}
TABLE.DayEventAllDayStart > TBODY > TR > TD {
	BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: 0px; PADDING-TOP: 5px; border-bottom-left-radius: 5px; border-top-left-radius: 5px
}
TABLE.DayEventAllDayEnd {
	WIDTH: 100%; BORDER-COLLAPSE: separate !important; border-top-right-radius: 5px; border-bottom-right-radius: 5px
}
TABLE.DayEventAllDayEnd > TBODY > TR > TD {
	BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: #cecece 1px solid; PADDING-TOP: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px
}
TABLE.DayEventAllDayOutside {
	WIDTH: 100%
}
TABLE.DayEventAllDayOutside > TBODY > TR > TD {
	BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: 0px; PADDING-TOP: 5px
}
TABLE.Week {
	BORDER-LEFT: #efefef 1px solid; BORDER-SPACING: 0px; BORDER-COLLAPSE: separate; BORDER-TOP: #efefef 1px solid
}
TABLE.Week TR TD.Day {
	BORDER-BOTTOM: #efefef 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 80px; PADDING-RIGHT: 4px; BORDER-RIGHT: #efefef 1px solid; PADDING-TOP: 4px
}
TABLE.Week TR TD.DayCurrent {
	BORDER-BOTTOM: #efefef 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffe8; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; HEIGHT: 40px; BORDER-RIGHT: #efefef 1px solid; PADDING-TOP: 0px
}
TABLE.Week TR TD.DayBlank {
	BORDER-BOTTOM: #efefef 1px solid; WIDTH: 20px
}
TABLE.Week TR TD.DayBlankWithRightBorder {
	BORDER-BOTTOM: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid
}
TABLE.Week TR TD.DayBlankCurrent {
	BORDER-BOTTOM: #efefef 1px solid; BACKGROUND-COLOR: #ffffe8
}
TABLE.Week TR TD.DayBlankCurrentWithRightBorder {
	BORDER-BOTTOM: #efefef 1px solid; BACKGROUND-COLOR: #ffffe8; BORDER-RIGHT: #efefef 1px solid
}
TD.WeekEventContainer {
	BORDER-BOTTOM: #efefef 1px solid; MIN-WIDTH: 300px; HEIGHT: 100%; VERTICAL-ALIGN: top
}
TABLE.WeekEvent {
	WIDTH: 100%; BORDER-COLLAPSE: separate !important; HEIGHT: 100%; border-radius: 5px
}
TABLE.WeekEvent > TBODY > TR > TD {
	BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; HEIGHT: 100%; VERTICAL-ALIGN: top; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: #cecece 1px solid; PADDING-TOP: 5px; border-radius: 5px
}
TABLE.WeekEventStart {
	WIDTH: 100%; BORDER-COLLAPSE: separate !important; HEIGHT: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px
}
TABLE.WeekEventStart > TBODY > TR > TD {
	BORDER-LEFT: #cecece 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; HEIGHT: 100%; VERTICAL-ALIGN: top; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: #cecece 1px solid; PADDING-TOP: 5px; border-top-right-radius: 5px; border-top-left-radius: 5px
}
TABLE.WeekEventEnd {
	WIDTH: 100%; BORDER-COLLAPSE: separate !important; HEIGHT: 100%; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px
}
TABLE.WeekEventEnd > TBODY > TR > TD {
	BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; HEIGHT: 100%; VERTICAL-ALIGN: top; BORDER-RIGHT: #cecece 1px solid; PADDING-TOP: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px
}
TABLE.WeekEventOutside {
	WIDTH: 100%; HEIGHT: 100%
}
TABLE.WeekEventOutside > TBODY > TR > TD {
	BORDER-LEFT: #cecece 1px solid; WIDTH: 100%; HEIGHT: 100%; BORDER-RIGHT: #cecece 1px solid
}
TABLE.Month {
	BORDER-BOTTOM: #efefef 1px solid; BORDER-LEFT: #efefef 1px solid; BORDER-COLLAPSE: separate !important; BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid; border-radius: 5px
}
TABLE.Month > TBODY > TR > TH {
	BORDER-BOTTOM: #efefef 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #efefef 1px solid; BACKGROUND-COLOR: #efefef; BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid
}
TR.MonthWeek > TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 14%; PADDING-RIGHT: 5px; HEIGHT: 100%; BORDER-RIGHT: #efefef 1px solid; PADDING-TOP: 5px
}
TR.MonthWeekBlank > TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 14%; PADDING-RIGHT: 0px; FONT-SIZE: xx-small; BORDER-RIGHT: #efefef 1px solid; PADDING-TOP: 0px
}
TR.MonthWeekBottom > TD {
	BORDER-BOTTOM: #efefef 1px solid; WIDTH: 14%; HEIGHT: 100%; BORDER-RIGHT: #efefef 1px solid
}
TABLE.MonthEvent {
	WIDTH: 100%; BORDER-COLLAPSE: separate !important; HEIGHT: 100%; border-radius: 5px
}
TABLE.MonthEvent > TBODY > TR > TD {
	BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; HEIGHT: 100%; VERTICAL-ALIGN: top; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: #cecece 1px solid; PADDING-TOP: 5px; border-radius: 5px
}
TABLE.MonthEventStart {
	WIDTH: 100%; BORDER-COLLAPSE: separate !important; HEIGHT: 100%; border-bottom-left-radius: 5px; border-top-left-radius: 5px
}
TABLE.MonthEventStart > TBODY > TR > TD {
	BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; HEIGHT: 100%; VERTICAL-ALIGN: top; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: 0px; PADDING-TOP: 5px; border-bottom-left-radius: 5px; border-top-left-radius: 5px
}
TABLE.MonthEventEnd {
	WIDTH: 100%; BORDER-COLLAPSE: separate !important; HEIGHT: 100%; border-top-right-radius: 5px; border-bottom-right-radius: 5px
}
TABLE.MonthEventEnd > TBODY > TR > TD {
	BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; HEIGHT: 100%; VERTICAL-ALIGN: top; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: #cecece 1px solid; PADDING-TOP: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px
}
TABLE.MonthEventOutside {
	WIDTH: 100%; HEIGHT: 100%
}
TABLE.MonthEventOutside > TBODY > TR > TD {
	BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; HEIGHT: 100%; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: 0px; PADDING-TOP: 5px
}
.OffDay {
	BACKGROUND-COLOR: #f7f7f7
}
.Today {
	BACKGROUND-COLOR: #ffffe8
}
TD.Event {
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f6f0',GradientType=0 ); BACKGROUND: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGY2ZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)
}
TD.ToDo {
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ede6d0',GradientType=0 ); BACKGROUND: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGU2ZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)
}
TD.Task {
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5ebf5',GradientType=0 ); BACKGROUND: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWViZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTVlYmY1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==)
}
TABLE.Legend {
	BORDER-COLLAPSE: separate !important; border-radius: 5px
}
TABLE.Legend > TBODY > TR > TD {
	BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 10px; PADDING-RIGHT: 0px; HEIGHT: 10px; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: #cecece 1px solid; PADDING-TOP: 0px; border-radius: 5px
}
A.Cal {
	TEXT-DECORATION: none
}
A.Cal:hover {
	TEXT-DECORATION: underline
}
A.Cal:visited {
	TEXT-DECORATION: none
}
TD.Task {
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c2d2ed',GradientType=0 ); BACKGROUND: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMmQyZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)
}
TD.ToDo {
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaddb6',GradientType=0 ); BACKGROUND: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWRkYjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)
}
TD.Event {
	FILTER: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6dbd8',GradientType=0 ); BACKGROUND: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmRiZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)
}
