* {
	COLOR: #000000
}
DIV.pi-ui {
	BACKGROUND-COLOR: #f2f2f2
}
DIV.pi-l {
	BACKGROUND-COLOR: #6a97d6
}
DIV.pi-l * {
	COLOR: #ffffff
}
DIV.validation-box LI {
	COLOR: red
}
.Button {
	BORDER-BOTTOM-COLOR: #c5c5c5; BORDER-TOP-COLOR: #c5c5c5; BACKGROUND: #cdcdcd; COLOR: #484a4c; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
.Button * {
	BORDER-BOTTOM-COLOR: #c5c5c5; BORDER-TOP-COLOR: #c5c5c5; BACKGROUND: #cdcdcd; COLOR: #484a4c; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
A.Button {
	BORDER-BOTTOM-COLOR: #c5c5c5; BORDER-TOP-COLOR: #c5c5c5; BACKGROUND: #cdcdcd; COLOR: #484a4c; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
.Button A {
	BORDER-BOTTOM-COLOR: #c5c5c5; BORDER-TOP-COLOR: #c5c5c5; BACKGROUND: #cdcdcd; COLOR: #484a4c; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
.Button A:visited {
	BORDER-BOTTOM-COLOR: #c5c5c5; BORDER-TOP-COLOR: #c5c5c5; BACKGROUND: #cdcdcd; COLOR: #484a4c; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
.Button:hover {
	BORDER-BOTTOM-COLOR: #6596ba; BORDER-TOP-COLOR: #6596ba; BACKGROUND: #fdac5c; COLOR: #ffffff; BORDER-RIGHT-COLOR: #6596ba; BORDER-LEFT-COLOR: #6596ba
}
.Button:hover * {
	BORDER-BOTTOM-COLOR: #6596ba; BORDER-TOP-COLOR: #6596ba; BACKGROUND: #fdac5c; COLOR: #ffffff; BORDER-RIGHT-COLOR: #6596ba; BORDER-LEFT-COLOR: #6596ba
}
A.Button:hover {
	BORDER-BOTTOM-COLOR: #6596ba; BORDER-TOP-COLOR: #6596ba; BACKGROUND: #fdac5c; COLOR: #ffffff; BORDER-RIGHT-COLOR: #6596ba; BORDER-LEFT-COLOR: #6596ba
}
.Button A:hover {
	BORDER-BOTTOM-COLOR: #6596ba; BORDER-TOP-COLOR: #6596ba; BACKGROUND: #fdac5c; COLOR: #ffffff; BORDER-RIGHT-COLOR: #6596ba; BORDER-LEFT-COLOR: #6596ba
}
TD.pi-l-divider-l {
	BORDER-BOTTOM-COLOR: #6a97d6; BORDER-TOP-COLOR: #6a97d6; BORDER-RIGHT-COLOR: #6a97d6; BORDER-LEFT-COLOR: #6a97d6
}
TABLE.pi-l-message H2 {
	COLOR: #00548e
}
