* {
	COLOR: #000000
}
DIV.pi-banner-bg {
	DISPLAY: none
}
DIV.pi-page-bar-bg {
	DISPLAY: none
}
DIV.pi-ui {
	BACKGROUND-COLOR: #f2f2f2
}
DIV.pi-page {
	BOX-SIZING: border-box; PADDING-BOTTOM: 0px; MIN-HEIGHT: 100%; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.pi-ui {
	MIN-HEIGHT: 100%
}
DIV.pi-left-right {
	MIN-HEIGHT: 100%
}
DIV.pi-left {
	MIN-HEIGHT: 100%
}
DIV.pi-l {
	BACKGROUND-COLOR: #6a97d6; WIDTH: 100%
}
DIV.pi-logo {
	POSITION: absolute; PADDING-TOP: 15px; LEFT: 40px
}
DIV.pi-mpi {
	POSITION: absolute; RIGHT: 40px; PADDING-TOP: 15px
}
DIV.pi-lc {
	BOX-SIZING: border-box; TEXT-ALIGN: center; PADDING-BOTTOM: 30px; MIN-HEIGHT: 440px; PADDING-TOP: 15px
}
DIV.pi-lc > H1 {
	FONT-SIZE: 30px
}
TABLE.pi-lt {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
DIV.pi-l * {
	COLOR: #ffffff
}
DIV.pi-l INPUT {
	COLOR: #000000
}
DIV.pi-l TEXTAREA {
	COLOR: #000000
}
.sso-image IMG {
	WIDTH: 32px; HEIGHT: 32px
}
.sso-title {
	PADDING-BOTTOM: 8px
}
.rf {
	COLOR: red !important
}
DIV.validation-box {
	Z-INDEX: 3; POSITION: absolute; TEXT-ALIGN: left; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 3px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; COLOR: red; PADDING-TOP: 8px; border-radius: 4px
}
DIV.validation-box LI {
	COLOR: red
}
DIV.validation-box LI * {
	COLOR: red
}
.sso-container {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline-block; MARGIN-BOTTOM: 15px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; PADDING-TOP: 10px
}
.sso-container TD {
	WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.sso-container INPUT {
	WIDTH: 50px; HEIGHT: 50px
}
.sso-container IMG {
	WIDTH: 50px; HEIGHT: 50px
}
.sso-container DIV {
	TEXT-ALIGN: center; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.sso-white-icon {
	BACKGROUND-COLOR: #ffffff; border-radius: 8px
}
.Button {
	BORDER-BOTTOM-COLOR: #c5c5c5; BORDER-TOP-COLOR: #c5c5c5; BACKGROUND: #cdcdcd; COLOR: #484a4c; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
.Button * {
	BORDER-BOTTOM-COLOR: #c5c5c5; BORDER-TOP-COLOR: #c5c5c5; BACKGROUND: #cdcdcd; COLOR: #484a4c; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
A.Button {
	BORDER-BOTTOM-COLOR: #c5c5c5; BORDER-TOP-COLOR: #c5c5c5; BACKGROUND: #cdcdcd; COLOR: #484a4c; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
.Button A {
	BORDER-BOTTOM-COLOR: #c5c5c5; BORDER-TOP-COLOR: #c5c5c5; BACKGROUND: #cdcdcd; COLOR: #484a4c; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
.Button A:visited {
	BORDER-BOTTOM-COLOR: #c5c5c5; BORDER-TOP-COLOR: #c5c5c5; BACKGROUND: #cdcdcd; COLOR: #484a4c; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
.Button:hover {
	BORDER-BOTTOM-COLOR: #6596ba; BORDER-TOP-COLOR: #6596ba; BACKGROUND: #fdac5c; COLOR: #ffffff; BORDER-RIGHT-COLOR: #6596ba; BORDER-LEFT-COLOR: #6596ba
}
.Button:hover * {
	BORDER-BOTTOM-COLOR: #6596ba; BORDER-TOP-COLOR: #6596ba; BACKGROUND: #fdac5c; COLOR: #ffffff; BORDER-RIGHT-COLOR: #6596ba; BORDER-LEFT-COLOR: #6596ba
}
A.Button:hover {
	BORDER-BOTTOM-COLOR: #6596ba; BORDER-TOP-COLOR: #6596ba; BACKGROUND: #fdac5c; COLOR: #ffffff; BORDER-RIGHT-COLOR: #6596ba; BORDER-LEFT-COLOR: #6596ba
}
.Button A:hover {
	BORDER-BOTTOM-COLOR: #6596ba; BORDER-TOP-COLOR: #6596ba; BACKGROUND: #fdac5c; COLOR: #ffffff; BORDER-RIGHT-COLOR: #6596ba; BORDER-LEFT-COLOR: #6596ba
}
DIV.pi-l-message-c {
	TEXT-ALIGN: center; PADDING-BOTTOM: 30px; BACKGROUND-COLOR: #f2f2f2; PADDING-TOP: 0px
}
TABLE.pi-l-message {
	MARGIN-TOP: 50px; BORDER-COLLAPSE: separate; EMPTY-CELLS: show; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
TABLE.pi-l-message TD.message {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; PADDING-LEFT: 40px; PADDING-RIGHT: 40px; VERTICAL-ALIGN: top; PADDING-TOP: 10px
}
TD.pi-l-divider-l {
	BORDER-BOTTOM-COLOR: #6a97d6; BORDER-LEFT: #6a97d6 2px solid; BORDER-TOP-COLOR: #6a97d6; BORDER-RIGHT-COLOR: #6a97d6
}
TABLE.pi-l-message H2 {
	PADDING-BOTTOM: 10px; COLOR: #00548e; FONT-SIZE: 24px
}
DIV.footer-message {
	BACKGROUND-COLOR: transparent
}
DIV.pi-right {
	PADDING-BOTTOM: 0px
}
DIV.footer-message > * {
	FONT-SIZE: 12px
}
