.StepText {
	FONT-SIZE: 0.8em; FONT-WEIGHT: normal
}
TR.RowBold {
	FONT-WEIGHT: 600
}
TD.TotalRow {
	FONT-WEIGHT: 600
}
.TableHeader {
	TEXT-ALIGN: left; FONT-WEIGHT: 600
}
TABLE.DataList TH {
	BACKGROUND-COLOR: #eaeffe
}
TABLE.DataListFixedHeight TD {
	PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important
}
TABLE.DataListFixedHeight TH {
	PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important
}
TABLE.DataList TR.Header TD {
	BORDER-BOTTOM: #b9bdc9 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #eaeffe; PADDING-LEFT: 4px; PADDING-RIGHT: 3px; BORDER-COLLAPSE: collapse; EMPTY-CELLS: show; COLOR: #313442; VERTICAL-ALIGN: bottom; BORDER-RIGHT: #b9bdc9 1px solid; PADDING-TOP: 8px
}
TABLE.DataList TD.Header {
	BORDER-BOTTOM: #b9bdc9 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #eaeffe; PADDING-LEFT: 3px; PADDING-RIGHT: 2px; BORDER-COLLAPSE: collapse; COLOR: #313442; VERTICAL-ALIGN: bottom; BORDER-RIGHT: #b9bdc9 1px solid; PADDING-TOP: 8px
}
.DataList TR.SubHeadingRow {
	FONT-WEIGHT: 600
}
TABLE.DataList TR.SubHeadingRow TD {
	BACKGROUND-COLOR: #f7f7f7
}
TABLE.DataList TR.SubSectionOneRow {
	BACKGROUND-COLOR: #f9f4e9
}
TABLE.DataList TR.SubSectionOneRow TD {
	BACKGROUND-COLOR: #f9f4e9
}
TR.SubSectionRow TD {
	COLOR: #999
}
TR.SubSectionRowEmphasized TD {
	FONT-STYLE: italic; COLOR: #999
}
TR.odd {
	BACKGROUND-COLOR: #fff
}
TR.even {
	BACKGROUND-COLOR: #f7f7f7
}
TABLE.DataList TR.Baseline {
	BACKGROUND-COLOR: #fff; COLOR: #999
}
TABLE.DataList TR.BaselineSummaryTask {
	BACKGROUND-COLOR: #fff; COLOR: #999; FONT-WEIGHT: 600
}
TABLE.DataList TR.Baseline TD {
	BACKGROUND-COLOR: #fff; COLOR: #999
}
TABLE.DataList TR.BaselineSummaryTask TD {
	BACKGROUND-COLOR: #fff; COLOR: #999; FONT-WEIGHT: 600
}
TABLE.FolderTree IMG {
	MARGIN-LEFT: 2px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 2px
}
DIV.DisplayTableAltSection {
	BACKGROUND-COLOR: #fef2e9
}
DIV.DisplayTableAltSection TABLE TR TD {
	VERTICAL-ALIGN: top
}
TABLE.DisplayTable TR TH.DisplayTable {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
TABLE.DisplayTable TR TH.DisplayTableHeader {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
TABLE.DisplayTable TR TH.DisplayTable2 {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #d0e5ba; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 16px; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
TABLE.DisplayTable TR TH.DisplayTable3 {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #d8e5ed; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 16px; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
TABLE.DisplayTable TR TH.DisplayTable4 {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #e3d8ed; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 16px; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
TABLE.DisplayTable TR TH.DisplayTable5 {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #dfcec8; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 16px; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
TABLE.DisplayTable TR TH.DisplayTable6 {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #e5c2c2; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 16px; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
TABLE.DisplayTable TR TH.DisplayTable7 {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #e3e3e3; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 16px; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
TABLE.DisplayTable TR TH.DisplayTable8 {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #c2e0e5; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 16px; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
TABLE.DisplayTable TR TD.DisplayTable {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 15px
}
TABLE.DisplayTable TR TD.DisplayTableBody {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 15px
}
TABLE.DisplayTable TR TD.Comment {
	BORDER-BOTTOM: #ededed 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; EMPTY-CELLS: show; VERTICAL-ALIGN: top; BORDER-TOP: #ededed 1px solid; PADDING-TOP: 6px
}
HR {
	COLOR: #274cad
}
HR.DisplaySeparator {
	HEIGHT: 1px; COLOR: #c0c0c0
}
.TaskFormEstimate {
	BACKGROUND-COLOR: #eee
}
TABLE.ChangesTable {
	MARGIN-TOP: 15px
}
.ChangesTable TH {
	PADDING-BOTTOM: 4px; FONT-STYLE: italic; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
.ChangesTable TD {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 4px; COLOR: #636563; FONT-SIZE: 10px; PADDING-TOP: 6px
}
TABLE.DisplayFilterControls {
	BORDER-BOTTOM: #666 1px solid; FILTER: progid:DXImageTransform.Microsoft.Shadow(color=#999999,Direction=135,Strength=2); BORDER-LEFT: #666 1px solid; BACKGROUND-COLOR: #f7f7f7; BORDER-COLLAPSE: collapse; BORDER-TOP: #666 1px solid; BORDER-RIGHT: #666 1px solid; -moz-box-shadow: 2px 2px 2px #999; -webkit-box-shadow: 2px 2px 2px #999
}
TABLE.DisplayFilterControls TH {
	PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #eaeffe; PADDING-LEFT: 6px; PADDING-RIGHT: 8px; FONT-WEIGHT: 600; PADDING-TOP: 6px
}
TABLE.DisplayFilterControls TD {
	BACKGROUND-COLOR: #fff
}
TD.TaskNameInput {
	PADDING-LEFT: 24px !important
}
DIV.TaskNameInput {
	BOX-SIZING: border-box; POSITION: relative; PADDING-BOTTOM: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; CURSOR: pointer; PADDING-TOP: 0px
}
A.TaskNameInput {
	POSITION: absolute; MARGIN-LEFT: -20px; TOP: 0px; LEFT: 0px
}
A.TaskNameInput > IMG {
	WIDTH: 16px; HEIGHT: 24px
}
.Hide {
	VISIBILITY: hidden
}
.Show {
	VISIBILITY: visible
}
UL {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 20px
}
LI {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
TABLE.StartCharacterPicker TR TD {
	BACKGROUND-COLOR: #fff
}
.Button32x32 {
	WIDTH: 32px; HEIGHT: 32px
}
A.Button32x32 A:hover {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; BACKGROUND-COLOR: #800000; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.Button32x32 A:hover {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; BACKGROUND-COLOR: #800000; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.Buttons32x32 {
	WIDTH: 32px; HEIGHT: 32px
}
.Icon16x16 {
	WIDTH: 16px; HEIGHT: 16px; VERTICAL-ALIGN: middle
}
.Icons16x16 {
	WIDTH: 16px; HEIGHT: 16px
}
DIV.MessageHeader {
	BORDER-BOTTOM: #c3c3c3 1px solid; BORDER-LEFT: #c3c3c3 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fffbf9; PADDING-LEFT: 4px; WIDTH: 100%; PADDING-RIGHT: 4px; DISPLAY: inline-block; BORDER-TOP: #c3c3c3 1px solid; BORDER-RIGHT: #c3c3c3 1px solid; PADDING-TOP: 4px; border-radius: 4px
}
DIV.MessageSortHeader {
	BORDER-BOTTOM: #c3c3c3 1px solid; BORDER-LEFT: #c3c3c3 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fffbf9; PADDING-LEFT: 4px; WIDTH: 100%; PADDING-RIGHT: 4px; DISPLAY: inline-block; BORDER-TOP: #c3c3c3 1px solid; BORDER-RIGHT: #c3c3c3 1px solid; PADDING-TOP: 4px; border-radius: 4px
}
.RelevanceBarBackground {
	BOX-SIZING: border-box; BORDER-BOTTOM-COLOR: #556eb5; TEXT-ALIGN: left; BACKGROUND-COLOR: #000; BORDER-TOP-COLOR: #556eb5; WIDTH: 100%; HEIGHT: 10px; BORDER-RIGHT-COLOR: #556eb5; BORDER-LEFT-COLOR: #556eb5
}
.RelevanceBarForeground {
	BOX-SIZING: border-box; BACKGROUND-COLOR: #556eb5; HEIGHT: 10px
}
.SearchDescription TH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 9px; PADDING-TOP: 0px
}
.SearchDescription TD {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE.BudgetList {
	MARGIN-TOP: 8px
}
.BudgetList {
	BORDER-COLLAPSE: collapse
}
.BudgetList TD {
	BORDER-BOTTOM: #f0f0f0 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
.BudgetList TD.Left {
	FONT-WEIGHT: 600
}
.BudgetList TD.Header {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; VERTICAL-ALIGN: bottom; PADDING-TOP: 2px
}
.BudgetList TH {
	BORDER-BOTTOM: #f0f0f0 1px solid; TEXT-ALIGN: right; PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px
}
TABLE.BudgetList TR.BudgetOverview TH {
	BACKGROUND-COLOR: #b4b555; VERTICAL-ALIGN: bottom
}
.PreviewPermissionsHighlight {
	COLOR: #f00
}
TD.ResGCell {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px
}
DIV.ResAL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; BACKGROUND-COLOR: #666; MARGIN: 0px; MIN-HEIGHT: 1px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 1px; MAX-HEIGHT: 1px; FONT-SIZE: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.ResAU {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; BACKGROUND-COLOR: #0c6; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 12px; PADDING-RIGHT: 0px; FONT-SIZE: 0px; PADDING-TOP: 0px
}
DIV.ResAO {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; BACKGROUND-COLOR: #f00; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 12px; PADDING-RIGHT: 0px; FONT-SIZE: 0px; PADDING-TOP: 0px
}
DIV.ResPU {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; BACKGROUND-COLOR: #b2b6bf; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 12px; PADDING-RIGHT: 0px; FONT-SIZE: 0px; PADDING-TOP: 0px
}
DIV.ResPO {
	BACKGROUND-IMAGE: url(../../i/i/alloc/res-plan-over.gif); TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 12px; PADDING-RIGHT: 0px; FONT-SIZE: 0px; PADDING-TOP: 0px
}
DIV.ResArU {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; BACKGROUND-COLOR: #ff9; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 12px; PADDING-RIGHT: 0px; FONT-SIZE: 0px; PADDING-TOP: 0px
}
DIV.ResArO {
	BACKGROUND-IMAGE: url(../../i/i/alloc/res-arch-over.gif); TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 12px; PADDING-RIGHT: 0px; FONT-SIZE: 0px; PADDING-TOP: 0px
}
TABLE.ResAllocation {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
TABLE.ResAllocation TD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
TABLE.ResAllocationBar {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
TABLE.ResAllocationBar TD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
TABLE.ResAllocationBar TD.ResAllocActiveUnder {
	BACKGROUND-COLOR: #0c6
}
TABLE.ResAllocationBar TD.ResAllocPlanningUnder {
	BACKGROUND-COLOR: #b2b6bf
}
TABLE.ResAllocation TD.ResAllocAvailableLine {
	BACKGROUND-COLOR: #000
}
TABLE.ResAllocationBar TD.ResAllocActiveOver {
	BACKGROUND-COLOR: #f00
}
TABLE.ResAllocationBar TD.ResAllocPlanningOver {
	BACKGROUND-COLOR: #b2b6bf
}
TABLE.ItemPicker {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TABLE.ItemPicker TD {
	BACKGROUND-COLOR: #fff
}
TABLE.ItemPicker TD.ItemTreeSelector {
	BORDER-BOTTOM: #eee thin inset; BORDER-LEFT: #eee thin inset; BORDER-TOP: #eee thin inset; BORDER-RIGHT: #eee thin inset
}
TABLE.ItemPicker TD.SelectedItem {
	BORDER-BOTTOM: #9fbddc 1px solid; BORDER-LEFT: #9fbddc 1px solid; HEIGHT: 22px; FONT-SIZE: x-small; BORDER-TOP: #9fbddc 1px solid; BORDER-RIGHT: #9fbddc 1px solid
}
TABLE.Scorecard {
	BORDER-BOTTOM: #c6c3b5 1px solid; BORDER-LEFT: #c6c3b5 1px solid; BORDER-COLLAPSE: collapse; BORDER-TOP: #c6c3b5 1px solid; BORDER-RIGHT: #c6c3b5 1px solid
}
TABLE.Scorecard TD {
	PADDING-BOTTOM: 10px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 3px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 10px
}
TABLE.Scorecard TR {
	BACKGROUND-COLOR: #fff
}
TABLE.Scorecard TH {
	BORDER-BOTTOM: #c6c3b5 1px solid; BORDER-LEFT: #c6c3b5 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f7f7f7; PADDING-LEFT: 4px; PADDING-RIGHT: 3px; VERTICAL-ALIGN: bottom; BORDER-TOP: #c6c3b5 1px solid; FONT-WEIGHT: 600; BORDER-RIGHT: #c6c3b5 1px solid; PADDING-TOP: 10px
}
TABLE.Scorecard TH.Goal {
	BACKGROUND-COLOR: #d6e5fc
}
TABLE.Scorecard TH.CSF {
	BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #eef4fc; BORDER-LEFT-WIDTH: 0px
}
TABLE.Scorecard TH.CSF_R {
	BORDER-RIGHT-WIDTH: 1px; BACKGROUND-COLOR: #eef4fc; BORDER-LEFT-WIDTH: 0px
}
TABLE.Scorecard TH.KPI {
	BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #fff; BORDER-LEFT-WIDTH: 0px
}
TABLE.Scorecard TH.KPI_R {
	BORDER-RIGHT-WIDTH: 1px; BACKGROUND-COLOR: #fff; BORDER-LEFT-WIDTH: 0px
}
TABLE.Scorecard TD.OverUnderWeight {
	BACKGROUND-COLOR: #f00
}
TABLE.Scorecard TD.Screened {
	FILTER: alpha(opacity=15); BACKGROUND-COLOR: #000; -moz-opacity: .15; opacity: .15
}
TABLE.Scorecard TR.Goal {
	BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #d6e5fc; BORDER-LEFT-WIDTH: 0px
}
TABLE.Scorecard TR.Goal TD {
	BORDER-BOTTOM: #c6c3b5 1px solid; BORDER-RIGHT-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.Scorecard TR.CSF {
	BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #eef4fc; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.Scorecard TR.CSF TD {
	BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.Scorecard TR.KPI {
	BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #fff; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.Scorecard TD.CSF {
	BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #eef4fc; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.Scorecard TD.KPI {
	BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #fff; BORDER-LEFT-WIDTH: 0px
}
TABLE.Scorecard TR.SubTotal {
	BORDER-TOP: #c6c3b5 1px solid
}
TABLE.Scorecard TR.SubTotal TD {
	BORDER-TOP: #c6c3b5 1px solid; FONT-WEIGHT: 600
}
TABLE.InformationBox {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; BORDER-SPACING: 0; PADDING-RIGHT: 0px; BORDER-COLLAPSE: collapse; EMPTY-CELLS: show; PADDING-TOP: 0px
}
TABLE.InformationBox TH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Segoe UI, Arial; WHITE-SPACE: nowrap; EMPTY-CELLS: show; FONT-SIZE: 14px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
TABLE.InformationBox TD {
	EMPTY-CELLS: show
}
TABLE.InformationBox TH.TopLineLeft {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; EMPTY-CELLS: show; BORDER-TOP: #bbb 1px solid; PADDING-TOP: 0px
}
TABLE.InformationBox TH.TopLineLeft DIV {
	WIDTH: 20px
}
TABLE.InformationBox TH.TopLineRight {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; EMPTY-CELLS: show; BORDER-TOP: #bbb 1px solid; PADDING-TOP: 0px
}
tableInformationBox TH.TopLineRight DIV {
	WIDTH: 30px
}
TABLE.InformationBox TH.InformationBoxTitle {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; WHITE-SPACE: nowrap; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
TABLE.InformationBox DIV.InformationBoxTitle {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; BOTTOM: 12px; PADDING-RIGHT: 4px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
TABLE.InformationBox DIV.InformationBoxArrow {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; BOTTOM: 12px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
TABLE.InformationBox TD.InformationBoxBody {
	TEXT-ALIGN: left; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; EMPTY-CELLS: show; HEIGHT: 1px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
DIV.InfoDiv {
	BORDER-BOTTOM: #d9e9fc 1px solid; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6f0fd',GradientType=0); BORDER-LEFT: #d9e9fc 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 4px; WHITE-SPACE: nowrap; BACKGROUND: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2QxZTNmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmYwZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); COLOR: #666; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #d9e9fc 1px solid; FONT-WEIGHT: 600; BORDER-RIGHT: #d9e9fc 1px solid; PADDING-TOP: 4px; border-radius: 4px
}
DIV.MetafuseScrollableDiv {
	DISPLAY: inline-block; OVERFLOW: auto
}
TABLE.Clipboard {
	BORDER-BOTTOM: #aaa 1px solid; BORDER-LEFT: #aaa 1px solid; BORDER-COLLAPSE: collapse; EMPTY-CELLS: show; BORDER-TOP: #aaa 1px solid; BORDER-RIGHT: #aaa 1px solid
}
TABLE.Clipboard TH {
	BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
TABLE.Clipboard TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
TABLE.Clipboard TH.cb {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 20px; PADDING-RIGHT: 2px; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 2px
}
TABLE.Clipboard TD.cb {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 20px; PADDING-RIGHT: 2px; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 2px
}
TABLE.Clipboard TD.Inner {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 50px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
TABLE.ClipboardAction {
	PADDING-BOTTOM: 2px; MARGIN-TOP: 20px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
TABLE.ClipboardAction TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
TABLE.ClipboardInner {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-COLLAPSE: collapse; EMPTY-CELLS: show; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE.ClipboardInner TH {
	BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
TABLE.ClipboardInner TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
TABLE.ClipboardInner TH.cb {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 20px; PADDING-RIGHT: 2px; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 2px
}
TABLE.ClipboardInner TD.cb {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 20px; PADDING-RIGHT: 2px; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 2px
}
TABLE.ClipboardInner TD.Name {
	WIDTH: 225px; TEXT-OVERFLOW: ellipsis; OVERFLOW: hidden
}
TABLE.ClipboardInner TD.Type {
	WIDTH: 100px
}
TABLE.PortalControl {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-COLLAPSE: collapse; EMPTY-CELLS: show; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE.PortalControl TD {
	PADDING-BOTTOM: 4px; MARGIN-TOP: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 8px
}
TABLE.PortalControl TR.Separator TD {
	BORDER-BOTTOM: #f8f8f8 1px solid; PADDING-TOP: 4px
}
TABLE.PortalControl TD.Separator {
	BORDER-BOTTOM: #f8f8f8 1px solid; PADDING-TOP: 8px
}
TABLE.FilterTable {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
TABLE.FilterTable > TBODY > TR > TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; BORDER-SPACING: 0; PADDING-RIGHT: 4px; BORDER-COLLAPSE: collapse; PADDING-TOP: 4px
}
TABLE.FilterTable > TBODY > TR > TH {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; BORDER-SPACING: 0; PADDING-RIGHT: 4px; BORDER-COLLAPSE: collapse; PADDING-TOP: 4px
}
.CFHelpAddtl {
	MARGIN-TOP: 5px; VERTICAL-ALIGN: top; FONT-WEIGHT: normal
}
DIV.FormHelp {
	PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #e1e1e1; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; PADDING-TOP: 8px; border-radius: 5px
}
TD.PISandboxMessage {
	PADDING-BOTTOM: 4px; FONT-STYLE: italic; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #f00; FONT-SIZE: 16px; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.error {
	COLOR: #f00
}
.ssoImage {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE.ssoContainer TABLE {
	WIDTH: 100%
}
DIV.WorkflowNavName {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #d0d0d0; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 0px; WHITE-SPACE: normal; FONT-SIZE: 17px; OVERFLOW: hidden; FONT-WEIGHT: 500; PADDING-TOP: 3px; border-bottom-right-radius: 5px
}
TD.WorkflowNav {
	MIN-WIDTH: 200px; PADDING-BOTTOM: 50px !important; BACKGROUND-COLOR: #eee; WHITE-SPACE: nowrap; VERTICAL-ALIGN: top
}
DIV.WorkflowNav {
	MIN-WIDTH: 200px; BACKGROUND-COLOR: #eee
}
DIV.WorkflowNavAssignedToLabel {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #d0d0d0; MARGIN-TOP: 20px; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 0px; WHITE-SPACE: normal; MARGIN-BOTTOM: 5px; FONT-SIZE: 17px; OVERFLOW: hidden; FONT-WEIGHT: 500; PADDING-TOP: 3px; border-top-right-radius: 5px; border-bottom-right-radius: 5px
}
DIV.WorkflowNavAssignedTo {
	PADDING-LEFT: 5px
}
DIV.WorkflowNavAssignedTo TABLE TR TD {
	VERTICAL-ALIGN: middle
}
TD.WorkflowBody {
	PADDING-LEFT: 10px !important; WIDTH: 100%; VERTICAL-ALIGN: top
}
TABLE.WorkflowNavTable {
	MARGIN-RIGHT: 20px
}
TABLE.WorkflowNavTable TD {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.WorkflowApproval {
	BACKGROUND-COLOR: #f5f5f5; MARGIN-TOP: 20px; DISPLAY: table; border-radius: 5px
}
TABLE.EntityHyperLinkList {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
TABLE.EntityHyperLinkList > TBODY > TR > TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
TABLE.report-chart {
	WIDTH: 100%
}
TABLE.report-chart TD {
	MIN-HEIGHT: 600px; WIDTH: 50%
}
A.dashboard-box-add {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 15px; MARGIN-LEFT: 10px
}
.comment-tag {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #dce6f8; TEXT-DECORATION: none !important; PADDING-TOP: 1px; border-radius: 3px
}
.Comment .comment-tag {
	PADDING-BOTTOM: inherit; PADDING-LEFT: inherit; PADDING-RIGHT: inherit; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-WEIGHT: 900; PADDING-TOP: inherit; border-radius: inherit
}
.Comment .comment-tag:hover {
	TEXT-DECORATION: underline !important
}
.mention_image {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 25px; PADDING-RIGHT: 5px; HEIGHT: 25px; PADDING-TOP: 5px
}
IMG.app-icon {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; MARGIN: 0px; WIDTH: 30px; DISPLAY: inline-block; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 16px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
.app-icon > IMG {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; MARGIN: 0px; WIDTH: 30px; DISPLAY: inline-block; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 16px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
.user-avatar A {
	CURSOR: pointer
}
.user-avatar-medium A {
	CURSOR: pointer
}
.user-avatar-large A {
	CURSOR: pointer
}
.user-avatar-icon A {
	CURSOR: pointer
}
A.user-avatar:hover {
	TEXT-DECORATION: none !important
}
A.user-avatar-medium:hover {
	TEXT-DECORATION: none !important
}
A.user-avatar-large:hover {
	TEXT-DECORATION: none !important
}
A.user-avatar-icon:hover {
	TEXT-DECORATION: none !important
}
.user-avatar > IMG {
	TEXT-ALIGN: center; LINE-HEIGHT: 40px; MARGIN: 0px; WIDTH: 40px; DISPLAY: inline-block; HEIGHT: 40px; COLOR: #fff; FONT-SIZE: 20px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
*.user-avatar > DIV {
	TEXT-ALIGN: center; LINE-HEIGHT: 40px; MARGIN: 0px; WIDTH: 40px; DISPLAY: inline-block; HEIGHT: 40px; COLOR: #fff; FONT-SIZE: 20px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
DIV.user-avatar {
	TEXT-ALIGN: center; LINE-HEIGHT: 40px; MARGIN: 0px; WIDTH: 40px; DISPLAY: inline-block; HEIGHT: 40px; COLOR: #fff; FONT-SIZE: 20px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
IMG.user-avatar {
	TEXT-ALIGN: center; LINE-HEIGHT: 40px; MARGIN: 0px; WIDTH: 40px; DISPLAY: inline-block; HEIGHT: 40px; COLOR: #fff; FONT-SIZE: 20px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
.user-avatar-icon > IMG {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; MARGIN: 0px; WIDTH: 30px; DISPLAY: inline-block; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 16px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
*.user-avatar-icon > DIV {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; MARGIN: 0px; WIDTH: 30px; DISPLAY: inline-block; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 16px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
DIV.user-avatar-icon {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; MARGIN: 0px; WIDTH: 30px; DISPLAY: inline-block; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 16px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
DIV.user-avatar-icon > DIV.user-avatar {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; MARGIN: 0px; WIDTH: 30px; DISPLAY: inline-block; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 16px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
.user-avatar-medium > IMG {
	TEXT-ALIGN: center; LINE-HEIGHT: 125px !important; MARGIN: 0px; WIDTH: 125px !important; DISPLAY: inline-block; HEIGHT: 125px !important; COLOR: #fff; FONT-SIZE: 62px !important; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
*.user-avatar-medium > DIV {
	TEXT-ALIGN: center; LINE-HEIGHT: 125px !important; MARGIN: 0px; WIDTH: 125px !important; DISPLAY: inline-block; HEIGHT: 125px !important; COLOR: #fff; FONT-SIZE: 62px !important; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
DIV.user-avatar-medium {
	TEXT-ALIGN: center; LINE-HEIGHT: 125px !important; MARGIN: 0px; WIDTH: 125px !important; DISPLAY: inline-block; HEIGHT: 125px !important; COLOR: #fff; FONT-SIZE: 62px !important; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
.user-avatar-large > IMG {
	TEXT-ALIGN: center; LINE-HEIGHT: 200px !important; MARGIN: 0px; WIDTH: 200px; DISPLAY: inline-block; HEIGHT: 200px; COLOR: #fff; FONT-SIZE: 100px !important; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
*.user-avatar-large > DIV {
	TEXT-ALIGN: center; LINE-HEIGHT: 200px !important; MARGIN: 0px; WIDTH: 200px; DISPLAY: inline-block; HEIGHT: 200px; COLOR: #fff; FONT-SIZE: 100px !important; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
DIV.user-avatar-large {
	TEXT-ALIGN: center; LINE-HEIGHT: 200px !important; MARGIN: 0px; WIDTH: 200px; DISPLAY: inline-block; HEIGHT: 200px; COLOR: #fff; FONT-SIZE: 100px !important; VERTICAL-ALIGN: middle; OVERFLOW: hidden; CURSOR: pointer; border-radius: 2px
}
TR.pi-comment-internal {
	BACKGROUND-COLOR: #f2f2f2
}
.work-status-layer-advanced-hide {
	DISPLAY: none
}
DIV.layer-icon-card {
	TEXT-ALIGN: center; MARGIN: 10px
}
DIV.layer-icon-card > A > IMG {
	WIDTH: 50px; HEIGHT: 50px
}
TABLE.pi-input-table {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
TABLE.pi-input-table > TBODY > TR > TD {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 20px; PADDING-TOP: 7px
}
TABLE.pi-input-table > TBODY > TR > TH {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 20px; PADDING-TOP: 7px
}
.virtual-team-large {
	WIDTH: 650px; MAX-WIDTH: 100%
}
.virtual-team-large IMG {
	WIDTH: 650px; MAX-WIDTH: 100%
}
.virtual-team-thumb {
	WIDTH: 200px; MAX-WIDTH: 100%; HEIGHT: 100px
}
.virtual-team-thumb IMG {
	WIDTH: 200px; MAX-WIDTH: 100%; HEIGHT: 100px
}
.virtual-team-icon {
	WIDTH: 75px; MAX-WIDTH: 100%
}
.virtual-team-icon IMG {
	WIDTH: 75px; MAX-WIDTH: 100%
}
.virtual-pm-large {
	WIDTH: 200px
}
.virtual-pm-large IMG {
	WIDTH: 200px
}
.virtual-pm-thumbnail {
	WIDTH: 200px
}
.virtual-pm-thumbnail IMG {
	WIDTH: 200px
}
.virtual-pm-icon {
	WIDTH: 75px
}
.virtual-pm-icon IMG {
	WIDTH: 75px
}
.virtual-pm-logo-sm {
	WIDTH: 100px
}
.virtual-team-logo-sm {
	WIDTH: 150px
}
.pi-card-connect-container {
	HEIGHT: 200px
}
DIV.pi-card-connect {
	BOX-SIZING: border-box; BORDER-BOTTOM: #f2f2f2 2px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #f2f2f2 2px solid; PADDING-BOTTOM: 15px; BACKGROUND-COLOR: #e7ecf4; MARGIN: 10px; PADDING-LEFT: 15px; WIDTH: 180px; PADDING-RIGHT: 15px; DISPLAY: inline-block; HEIGHT: 180px; OVERFLOW: hidden; BORDER-TOP: #f2f2f2 2px solid; CURSOR: pointer; BORDER-RIGHT: #f2f2f2 2px solid; PADDING-TOP: 15px; border-radius: 3px
}
.pi-card-connect-text {
	COLOR: #333; FONT-WEIGHT: bolder
}
.pi-card-connect-text:visited {
	COLOR: #333; FONT-WEIGHT: bolder
}
DIV.pi-card-connect:hover {
	BORDER-BOTTOM-COLOR: #00548e; BORDER-TOP-COLOR: #00548e; BORDER-RIGHT-COLOR: #00548e; BORDER-LEFT-COLOR: #00548e
}
DIV.pi-card-connect > A {
	VERTICAL-ALIGN: middle
}
DIV.pi-card-connect A {
	TEXT-DECORATION: none
}
DIV.pi-card-connect > A > IMG {
	MARGIN-TOP: 10px; WIDTH: 75px; HEIGHT: 75px; transition: all .2s ease-out
}
.pi-input-form-large SPAN.fl {
	FONT-SIZE: 18px
}
.pi-input-form-large LABEL {
	FONT-SIZE: 18px
}
.pi-input-form-large INPUT[type=checkbox] {
	FONT-SIZE: 18px
}
.pi-input-form-large INPUT[type=text] {
	FONT-SIZE: 18px
}
.pi-input-form-large SELECT {
	FONT-SIZE: 18px
}
.pi-input-form-large A {
	FONT-SIZE: 18px
}
.pi-input-form-large A.Button {
	FONT-SIZE: 18px
}
.pi-input-form-large A.Button:hover {
	FONT-SIZE: 18px
}
.pi-input-form-large H1 {
	FONT-SIZE: 32px
}
.pi-input-form-large INPUT[type=checkbox] {
	HEIGHT: 50px
}
.pi-input-form-large INPUT[type=text] {
	HEIGHT: 50px
}
.pi-input-form-large SELECT {
	HEIGHT: 50px
}
.pi-input-form-large INPUT[type=text] {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.pi-input-form-large SELECT {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
